div {
    display: flex;  /* defaults to row layout */
    justify-content: center;  /* centers items horizontally in row layout */
    align-items: center;  /* centers vertically in row layout */
    /* flex-direction: column; will set layout to column instead of row */
}

#answer {
    font-size: 60px;
    font-weight: bold;
    margin-top: 100px;
    margin-bottom: 65px;
}

input {
    text-align: center;
    font-size: 50px;
}

button {
    background-color: #7f7f7f;
    color: white;
    width: 100px;
    height: 100px;
    border-radius: 20px;
}

input {
    width: 196px;
    height: 96px;
    border-radius: 20px;
    margin: 35px;
    border: 4px solid #7f7f7f;
}

button:hover {
    color: #7f7f7f;
    background-color: white;
}